{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <h1>Alterar Password</h1>

    <hr/>

    {% block form_errors %}
        {% spaceless %}
            {% if errors is defined and errors|length > 0 %}
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">{{ error.message }}</li>
                        {% endfor %}
                </ul>
            {% endif %}
        {% endspaceless %}
    {% endblock form_errors %}

    
            {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-success"> 
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    

   

{% endblock %}