{# empty Twig template #}
<!-- blog -->
        <section id="blog">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <h2>{% trans %}blog_From the{% endtrans %} <b>{% trans %}blog_blog.{% endtrans %}</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal">
                            <a href="" class="card-img-container">
                                <img class="card-img" src="{{ asset('bundles/app/assets/images/demo/image-2.jpg') }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Planning amazing weddings that you won’t forget.</a></h5>
                                <span class="card-meta">Posted in Travel by <a href="">Mike Ross</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal">
                            <a href="" class="card-img-container">
                                <img class="card-img" src="{{ asset('bundles/app/assets/images/demo/image-1.jpg') }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Planning amazing weddings that you won’t forget.</a></h5>
                                <span class="card-meta">Posted in Travel by <a href="">Mike Ross</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal">
                            <a href="" class="card-img-container">
                                <img class="card-img" src="{{ asset('bundles/app/assets/images/demo/image-5.jpg') }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Planning amazing weddings that you won’t forget.</a></h5>
                                <span class="card-meta">Posted in Travel by <a href="">Mike Ross</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / blog -->