<section id="cover">

    <video autoplay muted loop id="myVideo">
        <source src="{{ asset('bundles/app/assets/video/videohea.mp4') }}" type="video/mp4">
    </video>

    <div class="cover-overlay"></div>

    <div class="text-container-container d-flex align-items-center">
        <div class="container pl-0 text-content d-flex align-items-center">
            <div class="col-lg-8 align-self-center text-shadow text-uppercase text-center text-md-left">

                <h1 class="mb-1 text-white">{% trans %}Os prémios da formação turística em Portugal{% endtrans %}</h1>

                <h2>{% trans %}applications{% endtrans %}</h2>

                <div class="separator d-block d-md-none mx-auto my-2"></div>

                <div class="separator d-none d-md-block my-2"></div>

                <p class="d-none d-md-block">{% trans %}text_Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endtrans %}</p>

                <a href="{{ path('homepage') }}#categories" class="btn-arrows-white">> <span class="btn-new-yellow">{% trans %}see_categories{% endtrans %}</span> <</a>

            </div>
        </div>
    </div>

    <div class="swiper-footer text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <div class="mouse"></div>
                </div>
            </div>
        </div>
    </div>

</section>