{# empty Twig template #}
 <!-- faq -->
        <section class="bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 text-md-center">
                        <h2>Still have some <i class="font-weight-bold">questions</i>?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores, consequuntur tempore, odio voluptatem</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="accordion-group accordion-group-minimal" data-accordion-group>
                            <div class="accordion" data-accordion data-aos="fade-up">
                                <div class="accordion-control" data-control>
                                    <h5>What type of ticket should I choose ?</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion data-aos="fade-up">
                                <div class="accordion-control" data-control>
                                    <h5>Is there a Money Back option ?</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion data-aos="fade-up">
                                <div class="accordion-control" data-control>
                                    <h5>Is there a Money Back option ?</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion-group accordion-group-minimal" data-accordion-group>
                            <div class="accordion" data-accordion data-aos="fade-up">
                                <div class="accordion-control" data-control>
                                    <h5>Can I buy a ticket right at the venue ?</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion data-aos="fade-up">
                                <div class="accordion-control" data-control>
                                    <h5>What hotel should I choose ?</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion" data-accordion data-aos="fade-up">
                                <div class="accordion-control" data-control>
                                    <h5>What hotel should I choose ?</h5>
                                </div>
                                <div class="accordion-content" data-content>
                                    <div class="accordion-content-wrapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / faq -->