{# empty Twig template #}
<!-- blog -->
        <section id="blog">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <h2>{#{% trans %}blog_From the{% endtrans %} #}<b>{% trans %}blog_blog.{% endtrans %}</b></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal">
                            <a href="" class="card-img-container">
                                <img class="card-img" src="{{ asset('bundles/app/assets/images/demo/Publituris.png') }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a target="_blank" href="https://www.publituris.pt/2018/07/05/revelados-os-vencedores-dos-hospitality-education-awards/">{% trans %}imprensa_title_01{% endtrans %}</a>
                                </h5>
                                <span class="card-meta">{% trans %}imprensa_publicado_01{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal">
                            <a href="" class="card-img-container">
                                <img class="card-img" src="{{ asset('bundles/app/assets/images/demo/Turisver.png') }}" alt="Card image cap">
                                
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a target="_blank" href="https://www.turisver.com/candidaturas-abertas-os-hospitality-education-awards/">{% trans %}imprensa_title_02{% endtrans %}</a>
                                </h5>
                                <span class="card-meta">{% trans %}imprensa_publicado_02{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card card-minimal">
                            <a href="" class="card-img-container">
                                <img class="card-img" src="{{ asset('bundles/app/assets/images/demo/Ambitur.png') }}" alt="Card image cap">
                                
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a target="_blank" href="https://www.ambitur.pt/candidaturas-aos-premios-hospitality-education-awards-2018-abertas-ate-20-de-maio/">{% trans %}imprensa_title_03{% endtrans %}</a>
                                </h5>
                                <span class="card-meta">{% trans %}imprensa_publicado_03{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / blog -->