<section id="blog">

    <h1 class="title text-center text-uppercase mb-4">{% trans %}blog_blog.{% endtrans %} <span>2020</span></h1>

    <div class="py-1 m-0"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card card-minimal">
                    <a href="https://www.publituris.pt/2020/12/16/saiba-quem-sao-os-vencedores-dos-hospitality-education-awards/" class="card-img-container">
                        <img class="card-img" src="{{ asset('bundles/app/assets/images/imprensa2020/image1.png') }}" alt="hea-news-1">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a target="_blank" href="https://www.publituris.pt/2020/12/16/saiba-quem-sao-os-vencedores-dos-hospitality-education-awards/">{% trans %}imprensa_title_01{% endtrans %}</a>
                        </h5>
                        <a href="https://www.publituris.pt/2020/12/16/saiba-quem-sao-os-vencedores-dos-hospitality-education-awards/" class="text-uppercase d-block text-center yellow-text">> <span >Ler mais</span> <</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-minimal">
                    <a href="https://www.ambitur.pt/ja-sao-conhecidos-os-finalistas-dos-hospitality-education-awards-2020/" class="card-img-container">
                        <img class="card-img" src="{{ asset('bundles/app/assets/images/imprensa2020/image2.jpg') }}" alt="hea-news-2">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a target="_blank" href="https://www.ambitur.pt/ja-sao-conhecidos-os-finalistas-dos-hospitality-education-awards-2020/">{% trans %}imprensa_title_02{% endtrans %}</a>
                        </h5>
                        <a href="https://www.ambitur.pt/ja-sao-conhecidos-os-finalistas-dos-hospitality-education-awards-2020/" class="text-uppercase d-block text-center yellow-text">> <span >Ler mais</span> <</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-minimal">
                    <a href="https://maissuperior.com/2020/11/30/cerimonia-de-entrega-de-premios-dos-hospitality-education-awards-ja-tem-data/" class="card-img-container">
                        <img class="card-img" src="{{ asset('bundles/app/assets/images/imprensa2020/image3.png') }}" alt="hea-news-3">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a target="_blank" href="https://maissuperior.com/2020/11/30/cerimonia-de-entrega-de-premios-dos-hospitality-education-awards-ja-tem-data/">{% trans %}imprensa_title_03{% endtrans %}</a>
                        </h5>
                        <a href="https://maissuperior.com/2020/11/30/cerimonia-de-entrega-de-premios-dos-hospitality-education-awards-ja-tem-data/" class="text-uppercase d-block text-center yellow-text">> <span class="underline">Ler mais</span> <</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>