<section id="blog">

    <h1 class="title text-center text-uppercase mb-4">{% trans %}blog_blog.{% endtrans %} <span>2019</span></h1>

    <div class="py-1 m-0"></div>

    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card card-minimal">
                    <a href="" class="card-img-container">
                        <img class="card-img" src="{{ asset('bundles/app/assets/images/imprensa2019/Foto_Notбcia1.jpg') }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a target="_blank" href="https://www.ambitur.pt/ja-sao-conhecidos-os-vencedores-da-2a-edicao-dos-hospitality-education-awards/">{% trans %}imprensa_title_01{% endtrans %}</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-minimal">
                    <a href="" class="card-img-container">
                        <img class="card-img" src="{{ asset('bundles/app/assets/images/imprensa2019/Foto_Notбcia2.jpg') }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a target="_blank" href="https://www.publituris.pt/2018/07/05/revelados-os-vencedores-dos-hospitality-education-awards/">{% trans %}imprensa_title_02{% endtrans %}</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-minimal">
                    <a href="" class="card-img-container">
                        <img class="card-img" src="{{ asset('bundles/app/assets/images/imprensa2019/Foto_Notбcia3.jpg') }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a target="_blank" href="https://www.turisver.com/2-a-edicao-dos-hospitality-education-awards-premeia-projecto-menu-4-all/">{% trans %}imprensa_title_03{% endtrans %}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>