{# empty Twig template #}
<!-- partners -->
    <section id="juris" class="separator-top">
      <div class="container">

          <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h2>{% trans %}juris_title{% endtrans %}</h2>
          </div>
        </div>

        <div class="row">


          <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">

                {% for juri in juris %}
                <div class="logo">
                <img src="{{ vich_uploader_asset(juri, 'imagemFile') }}" alt="{{ juri.nome }}" />
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / partners -->