<section id="partners">

    <div class="container">

        <div class="mb-5">
            <h1 class="title text-center text-uppercase mb-5">{% trans %}partners_title{% endtrans %} <span>HEA</span></h1>
        </div>

        <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[4,2]" data-loop="true" data-autoplay="true">
                {% for parceiro in parceiros %}
                    <div class="logo">
                        <img src="{{ vich_uploader_asset(parceiro, 'imagemFile') }}" alt="{{ parceiro.nome }}" />
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</section>