{# empty Twig template #}
 <!-- presentation -->
        <section>
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-lg-7">
                        <div class="owl-carousel owl-carousel-single pr-0" data-dots="true" data-autoheight="true">
                            <img src="../../assets/images/demo/event/event-3.jpg" alt="Image">
                            <img src="../../assets/images/demo/event/event-4.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-5 pl-lg-4">
                        <span class="eyebrow text-primary mb-2">Special for you</span>
                        <h2>We're in business <br>since 2015</h2>
                        <hr class="w-25 ml-0">
                        <div class="row gutter-3">
                            <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                                <div class="media">
                                    <i class="icon-check-circle2 fs-24 mr-2 text-primary"></i>
                                    <div class="media-body">
                                        <h4 class="eyebrow font-weight-bold">Verified Speakers</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                                <div class="media">
                                    <i class="icon-camera2 fs-24 mr-2 text-primary"></i>
                                    <div class="media-body">
                                        <h4 class="eyebrow font-weight-bold">Photo Gallery</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                                <div class="media">
                                    <i class="icon-camera2 fs-24 mr-2 text-primary"></i>
                                    <div class="media-body">
                                        <h4 class="eyebrow font-weight-bold">Photo Gallery</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / presentation -->