<!-- vertical steps -->
    <section class="component">
     <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4>Vertical</h4>
          </div>
          <div class="col text-right">
            <div class="nav nav-docs nav-lavalamp">
              <a class="nav-item nav-link active show" data-toggle="tab" href="#component-2-1">Light</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#component-2-2">Dark</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="component-2">

        <div class="tab-pane show active" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1">
          <div class="component-example">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="accordion-group accordion-group-steps" data-accordion-group>
                    <div class="accordion open" data-accordion>
                      <div class="accordion-control" data-control>
                        <h5>First step</h5>
                      </div>
                      <div class="accordion-content" data-content>
                        <div class="accordion-content-wrapper">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion" data-accordion>
                      <div class="accordion-control" data-control>
                        <h5>Second step</h5>
                      </div>
                      <div class="accordion-content" data-content>
                        <div class="accordion-content-wrapper">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion" data-accordion>
                      <div class="accordion-control" data-control>
                        <h5>Third step</h5>
                      </div>
                      <div class="accordion-content" data-content>
                        <div class="accordion-content-wrapper">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-details">
            <div class="container">
              <div class="row component-details-markup">
                <div class="col">
                  <pre><code class="language-markup">&lt;div class="accordion-group accordion-group-steps" data-accordion-group>
  &lt;div class="accordion open" data-accordion>
    &lt;div class="accordion-control" data-control>
      &lt;h5>First step&lt;/h5>
    &lt;/div>
    &lt;div class="accordion-content" data-content>
      &lt;div>
        &lt;p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!&lt;/p>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  ...
&lt;/div></code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane  show active" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
          <div class="component-example bg-dark text-white">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="accordion-group accordion-group-steps" data-accordion-group>
                    <div class="accordion open" data-accordion>
                      <div class="accordion-control" data-control>
                        <h5>First step</h5>
                      </div>
                      <div class="accordion-content" data-content>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion" data-accordion>
                      <div class="accordion-control" data-control>
                        <h5>Second step</h5>
                      </div>
                      <div class="accordion-content" data-content>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion" data-accordion>
                      <div class="accordion-control" data-control>
                        <h5>Third step</h5>
                      </div>
                      <div class="accordion-content" data-content>
                        <div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>

     </div>
     
     
     
     
     
     
     
    </section>
    <!-- / vertical steps -->

    
    
    