{# empty Twig template #}

    
    
    <!-- testimonials -->
    <section id="testimonials" class="bg-dark text-white separator-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 text-center">
            <h2>{% trans %}testimonials_Kind Words{% endtrans %}</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="owl-carousel visible accent" data-dots="true" data-loop="true" data-margin="100" data-autoplay="true">
              <blockquote class="blockquote blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="{{ asset('bundles/app/assets/images/demo/user-1.jpg') }}" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Michael Doe</span>
                      <small>Google CEO</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="blockquote blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="{{ asset('bundles/app/assets/images/demo/user-1.jpg') }}" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Michael Doe</span>
                      <small>Google CEO</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="blockquote blockquote-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <footer class="blockquote-footer">
                  <div class="media align-items-center">
                    <img class="avatar user-rounded" src="{{ asset('bundles/app/assets/images/demo/user-1.jpg') }}" alt="Avatar">
                    <div class="media-body ml-2">
                      <span class="d-block mb-0 text-white">Michael Doe</span>
                      <small>Google CEO</small>
                    </div>
                  </div>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / testimonial -->