{# empty Twig template #}
   <!-- text -->
   {# <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h3 class="text-decorated text-decorated--padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
        </div>
      </div>
    </section>#}

   
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h3 class="text-decorated text-decorated--padding">{% trans %}text_Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endtrans %}</h3>
          </div>
        </div>
      </div>
    </section>
   
   
    <!-- / text -->